.intro-wrapper {
  padding: 6em 3em;
  width: 100%;

  &__content {
  width: 100%;

  @include breakpoint(medium) {
  width: 70%;
  }

  @include breakpoint(large) {
    width: 45%;
  }
}

  @include breakpoint(large) {
  padding: 11em 8em;
  }
}
