.nav {
  height: 60px;
  background: #f2f4f5;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;

    &__input {
    display: none;
    // flex-direction: row;
  }
}

 input {
  height: 100%;
  width: 400px;
  background: #ec34be;
  outline: 0;
  padding: 1em;
  color: #fff;
  margin-right: -4px;
  
    &::-webkit-input-placeholder { 
      color: #8e0d6e; 
    } 
}

